button {
    outline: none;
    background: none;
    border: none;
}
p {
    margin: 0px;
    padding: 0px;
}
body {
    background: linear-gradient( to right, #8f94fb, #4e54c8 );
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.container {
    padding: 3rem;
    height: 560px;
    text-shadow: 0 1px #00000010;
    width: 60%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.header__h1 h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-line {
    width: 100%;
    display: flex;

}

.navbar-line div:nth-child(1) {
    margin-right: 1rem;
}

.navbar-line__txt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-line__txt_one {
    width: 70%;
    display: flex;
    align-items: center;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
    font-weight: bold;
    height: 32px;
}

.navbar-line__txt_one p {
    margin-left: 1rem;
}

.navbar-line__txt_two {
    width: 100%;
}
.navbar-line__txt_two p {
   
    font-size: 1.3rem;
    text-shadow: 0 1px #00000010;
}

.content {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.wrapper-books {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.wrapper-books div {
    margin: 0 16px;
}

.wrapper-folders {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.wrapper-folders div {
    margin: 0 11%;
}

.wrapper-folders__txt{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}


.controls {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls > * {
    margin: 1rem;
}

.previous,
.next {
    color: #29b406;
}

.previous {
    margin-right: 10px;
}

i {
    cursor: pointer;
}

.chekbox-block {
    margin: 0 5rem;
}
.chekbox-img img {
    width: 300px;
}

.wrapper-two {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-two form div {
    display: flex;
    align-items: center;
}
.wrapper-two form div p {
    margin-left: 2rem;
}

.wrapper-two form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper-two form 

.block-two {
    margin-bottom: 2.5rem;
}

.wrapper-three {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrapper-three__left {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.wrapper-three__left div {
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1.4px rgb(1, 177, 177) solid;
    border-radius: 30px;
}
.wrapper-three__left div span {
    color: rgb(1, 177, 177);
}
.wrapper-three__left div span:nth-child(1) {
    margin-right: 0.5rem;
}

.wrapper-three__right img {
    width: 250px;
}

.wrapper-four div:nth-child(2) form div {
    display: flex;
    align-items: center;
}
.wrapper-four div:nth-child(2) form div p {
margin-left: 2rem;
}

.wrapper-four-img {
    display: flex;
}
.wrapper-four-img img {
    margin: auto;
    width: 120px;
}

.wrapper-five div form div {
    display: flex;
    align-items: center;
}

.wrapper-five div form div p {
    margin-left: 2rem;
}

.wrapper-five__img {
    display: flex;
}

.wrapper-five__img div {
    width: 250px;
    margin: 0 auto;
}
.wrapper-five__img div img{
    width: 250px;
}
