html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    background: #4e54c8;
    background: -webkit-linear-gradient(
        to right,
        #8f94fb,
        #4e54c8
    );
    background: linear-gradient(
        to right,
        #8f94fb,
        #4e54c8
    );
}

li {
    height: 44px;
    line-height: 24px;
    font-weight: 400;
    list-style-type: none;
    padding: 1.5rem;
}
a, a > span {
    position: relative;
    text-decoration: none !important;
    line-height: 24px;
    color: black !important;
}
a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.hover-1 {
    padding-top: 10px;
}
.hover-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #492059;
    transform: scaleX(0);
}
.hover-1:hover:before {
    transform: scaleX(1);
}

.quiz-container {
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.question {
    display: flex;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.question img {
    margin-right: 1rem;
    object-fit: contain;
}

.alert img {
    object-fit: contain;
}

.question__subtitle {
    display: flex;
    align-items: center;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: .3rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.question__main {
    font-size: 1.2rem;
}

.bi-skip-forward {
    margin-right: 1rem;
}

.options-container {
    display: inline-block;
    margin: 1rem;
}

.option:hover {
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.option input:checked .option {
    background: #08038c;
    color: #000;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls > * {
    margin: 1rem;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
}

.previous,
.next {
    color: #29b406;
}

.grey {
    color: grey;
}

.previous {
    margin-right: 10px;
}

button.restart {
    background: #0cf574;
    color: #00000050;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
}

button.restart:hover {
    color: #00000098;
}

button:hover,
button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.final-score {
    color: #00000099;
}

.title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.word-container {
    display: flex;
    flex-direction: column;
}

.word-block {
    display: flex;
    flex-direction: column;
}

.word-block input {
    width: 40px;
    margin: 1rem auto;
}

.word-block:first-child {
    margin-right: 3rem;
}

#draggable {
    background: white;
}

.dropzone {
    padding: 10px;
    width: fit-content;
    margin-bottom: 10px;
    border: 2px solid blue;
    border-radius: 20px;
}

.table__boy {
    text-align: center;
}

.nail-img {
    text-align: center;
}

.steps {
    width: 100%;
}

.window {
    position: fixed;
    width: 300px;
    height: 150px;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid aquamarine;
}


.cancel {
    position: absolute;
    top: 0;
    right: 0;
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}

.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* fadeout */
.fade-out {
    animation: fadeOut ease .5s;
    -webkit-animation: fadeOut ease .5s;
    -moz-animation: fadeOut ease .5s;
    -o-animation: fadeOut ease .5s;
    -ms-animation: fadeOut ease .5s;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .some-img {
        display: none;
    }

    .question__main {
        font-size: .7rem;
    }

    .title {
        font-size: 16px;
    }

    .question__subtitle {
        font-size: .8rem;
    }

    .result {
        padding-top: 1rem;
    }
}


@media screen and (max-width: 567px) {
    .some-img {
        display: block;
    }

    .result {
        padding-top: 2rem !important;
    }

    .quiz-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 460px) {
    .some-img {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



/* <-- ------------------------------PAGE 6------------------------------ --> */
.page6-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.page6-content div {
    position: relative;
}

.page6-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page6-content div span {
    top: 0;
    left: 0;
    margin: -15px 0px 0 -10px;
    position: absolute;
    color: #007bff;
}

.options-container__page6 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.word-img__page6 {
    display: flex;
    flex-wrap: wrap;
}

.word-img__page6 div {
    margin: auto;
    padding: 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.str3__page6 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.str3__page6 div {
    position: relative;
    padding: 0 12px;
}

.str3__page6 span {
    position: absolute;
    top: 0;
    left: 0;
    margin: -12px 0 0 0px;
    color: #007bff;
}

.str4__page6 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 700;
}

.draggablezone__page6 {
    display: flex;
}


.draggablezone__page6 div {
    border: none !important;
}

.draggablezone__page6 div img {
    width: 140px;
    height: 150px;
}

.str5__page6 img {
    width: 70%;
}

/* <-- ------------------------------ PAGE 8 ------------------------------ --> */

.str1__page8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.str1__page8 img {
    height: 180px;
}

.str1__page8 img:nth-child(2) {
    margin-top: 20px;
}

.options-container__page8 {
    width: 100%;
    margin: 0;
}

/* <-- ------------------------------ PAGE 10 ------------------------------ --> */
.str1__page10 {
    display: flex;
    justify-content: space-around;
}
.str1__page10 span {
    font-size: 1.25rem;
}

.str2__page10{
    display: flex;
    justify-content: center;
    width: 100%;
}

